#app{
    font-family: monospace;
    color: #4d4d4d;
    height: 100%;
    width: 100%;
}

#leftSidebar {
    width:56px;
    height: 100%;
    background-color:rgba(255, 97, 125, 0.31);
    position: fixed;
    left:0;
}
    .fa-comment {
        color:rgba(255, 97, 125, 0.81);
        position:fixed;
        bottom:0;
        left:0;
        margin:12px;
        font-size: 35px;
    }
#rightSidebar {
    width:56px;
    height: 100%;
    background-color:rgba(107, 182, 255, 0.7);;
    position: fixed;
    right:0;
}
    .fa-hand-peace-o {
        position:fixed;
        top:0;
        right:0;
        margin:12px;
        font-size:38px;
    }

#loginContainer{
    margin-top: 80px;
}
    .textInputs{
        border: 0;
        outline: 0;
        background: transparent !important;
        background-color: white !important;
        border-bottom: 1px solid rgba(107, 182, 255, 0.8);;
     
        height:36px;
        width: 50%;

        margin: 12px 0px !important;
        padding-bottom:6px;

        text-align: center;
        font-size: 24px !important;
    }

    /*#rememberMeCheckbox {
    	margin: 18px 0px !important;
    }*/

    input.btn-default {
        background:white;
        border-color: rgba(107, 182, 255, 0.8);
        color: rgba(107, 182, 255, 0.8);
        width: 40%;
        margin-top:24px;
    }
    input.btn-default:hover,
    input.btn-default:focus
    {
        background:black;
        border-color:black;
        color:white;
    }

/*a.active {
    color: darkgreen;
}*/

nav {
    padding-top: 20px;
}

.userRowContent {
    font-size: 21px;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: black;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: /*your box-shadow*/,0 0 0 50px white inset;
    -webkit-text-fill-color: rgba(255, 97, 125, 0.31);
} 
.fa-barcode {
    color:black;
    font-size: 120px;
    margin: 24px 0;
}
.fa-anchor {
    color:black;
    font-size: 100px;
    margin-top: 24px;
}